{{ $title := .Get "title" }}
{{ $class := .Get "class" }}
{{ $style := .Get "style" }}
{{ $id := .Get "id" }}

{{ $link := "" }}

{{ if eq $class "start-hf-card-color" }}
  {{ $link = printf "start/%s" $id }}
{{ else if eq $class "basic-hf-card-color" }}
  {{ $link = printf "basic/%s" $id }}
{{ else if eq $class "medium-hf-card-color" }}
  {{ $link = printf "medium/%s" $id }}
{{ else }}
  {{ $link = printf "advanced/%s" $id }}
{{ end }}

{{ $description := "" }}
{{ $time := "" }}
{{ $fullLink := "" }}

{{ $fullLink = printf "/roadmap/%s" $link }}
{{ with $.Site.GetPage $fullLink }}
  {{ $description = .Params.description | default "" }}
  {{ $time = .Params.time | default "" }}
{{ end }}

<div id="{{ $id }}" {{ with $style }}style="{{ . | safeCSS }} height: 100px;"{{ end }}
    class="{{ $class }} hextra-feature-card hx-block hx-relative hx-overflow-hidden hx-rounded-xl hx-border hx-border-gray-200 hover:hx-border-gray-300 dark:hx-border-neutral-800 dark:hover:hx-border-neutral-700 before:hx-pointer-events-none before:hx-absolute before:hx-inset-0 before:hx-bg-glass-gradient"
>
  <div class="hx-relative hx-p-3 hx-w-full hx-h-full hx-flex hx-flex-col hx-justify-between">
    <h4 class="hx-leading-6 hx-flex">{{ $title }}</h4>
    <p class="hx-py-3">{{ $description }}</p>
    <div>
      <div class="time-badge-info hx-w-full hx-justify-between hx-inline-flex">
        <div class="hx-inline-flex hx-mt-1">
          {{ partial "utils/icon.html" (dict "name" "clock" "attributes" "height=20") }}
          <p class="-hx-mt-2px hx-ml-4px">{{ $time }}</p>
        </div>
      </div>
      <br>
      <a href="{{ $link }}" class="start-task-button not-prose hx-w-full hx-font-medium hx-cursor-pointer hx-select-none hx-px-10 hx-py-2 hx-mt-3 hx-rounded-lg hx-text-center hx-text-white hx-inline-block hx-bg-primary-600 hover:hx-bg-primary-700 dark:hx-bg-primary-600 dark:hover:hx-bg-primary-700 hx-transition-all hx-ease-in hx-duration-200">{{ T "startTask" }}</a>
    </div>
  </div>
</div>