/* News Page */
.news-top-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  justify-content: center;
}

.news-top-bar input,
.news-top-bar select {
  padding: 8px 12px;
  margin: 2.5px 4px 2.5px 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 250px;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.news-card {
  border: 1px solid #e0e0e0;
  padding: 15px;
  height: 12rem;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out;
  text-decoration: none;
}

.news-card h3 {
  margin: 0;
  font-size: 1.4rem;
}

.news-card-content {
  height: 90%;
}

.news-card-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.news-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.news-card:hover:is(html[class~="dark"] *) {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.news-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

#news-page-info {
  margin-top: 0.5rem;
}

.news-warning-close {
  font-size: xx-large;
  cursor: pointer;
}

.news-pagination button {
  padding: 8px 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.news-pagination button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}