{{- $page := .context -}}
{{- $grow := .grow -}}

<div class="explore-dropdown-button hx-relative hx-inline-block {{ if $grow }}hx-grow{{ end }}">
  <button
    data-state="closed"
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
    class="explore-trigger hx-flex hx-p-1 hx-h-10 hx-items-center hx-justify-between hx-gap-3 hx-transition-transform contrast-more:hx-text-gray-700 contrast-more:dark:hx-text-gray-100 hx-text-gray-600 hover:hx-text-gray-800 dark:hx-text-gray-400 dark:hover:hx-text-gray-200"
  >
    <span class="hx-flex hx-items-center hx-gap-2 hx-text-sm">
        <span>{{ T "explore" }}</span>
    </span>
    {{ partial "utils/icon.html" (dict "name" "chevron-down" "attributes" "height=16") }}
  </button>

  <ul class="explore-dropdown hx-absolute hx-left-0 hx-w-76 hx-origin-top-left hx-z-50 hx-hidden hx-overflow-hidden hx-rounded-xl hx-bg-white hx-py-2 hx-text-base hx-shadow-xl hx-ring-1 hx-ring-black/5 hx-transition-all focus:hx-outline-none dark:hx-bg-neutral-800 dark:hx-ring-white/10">
    <li>
      <a href='{{ "checklists" | relLangURL }}' class="hx-flex hx-items-center hx-gap-3 hx-px-4 hx-py-3 hx-text-gray-800 dark:hx-text-gray-100 hover:hx-bg-primary-50 hover:hx-text-primary-600 hover:dark:hx-bg-primary-500/10 hover:dark:hx-text-primary-600 hx-relative hx-cursor-pointer hx-py-1.5 hx-transition-colors">
        {{ partial "utils/icon.html" (dict "name" "user" "attributes" "height=25 width=25 class='hx-text-primary-600 hx-mr-2 hx-shrink-0'") }}
        <div class="hx-flex hx-flex-col">
          <span class="hx-font-medium">{{ T "checklists" }}</span>
          <span class="-hx-mt-5px hx-text-xs hx-text-gray-500 dark:hx-text-gray-400">{{ T "checklistsDescription" }}</span>
        </div>
      </a>
    </li>

    <li>
      <a href='{{ "news" | relLangURL }}' class="hx-flex hx-items-center hx-gap-3 hx-px-4 hx-py-3 hx-text-gray-800 dark:hx-text-gray-100 hover:hx-bg-primary-50 hover:hx-text-primary-600 hover:dark:hx-bg-primary-500/10 hover:dark:hx-text-primary-600 hx-relative hx-cursor-pointer hx-py-1.5 hx-transition-colors">
        {{ partial "utils/icon.html" (dict "name" "speakerphone" "attributes" "height=25 width=25 class='hx-text-primary-600 hx-mr-2 hx-shrink-0'") }}
        <div class="hx-flex hx-flex-col">
          <span class="hx-font-medium">{{ T "news" }}</span>
          <span class="-hx-mt-5px hx-text-xs hx-text-gray-500 dark:hx-text-gray-400">{{ T "newsDescription" }}</span>
        </div>
      </a>
    </li>

    <li>
      <a href="https://shop.beginnerprivacy.com" class="hx-flex hx-items-center hx-gap-3 hx-px-4 hx-py-3 hx-text-gray-800 dark:hx-text-gray-100 hover:hx-bg-primary-50 hover:hx-text-primary-600 hover:dark:hx-bg-primary-500/10 hover:dark:hx-text-primary-600 hx-relative hx-cursor-pointer hx-py-1.5 hx-transition-colors">
        {{ partial "utils/icon.html" (dict "name" "shopping-cart" "attributes" "height=25 width=25 class='hx-text-primary-600 hx-mr-2 hx-shrink-0'") }}
        <div class="hx-flex hx-flex-col">
          <span class="hx-font-medium">{{ T "shop" }}</span>
          <span class="-hx-mt-5px hx-text-xs hx-text-gray-500 dark:hx-text-gray-400">{{ T "shopDescription" }}</span>
        </div>
      </a>
    </li>
  </ul>
</div>