{{ $paragraph := .Get "text" }}
{{ $id := .Get "id" }}
{{ $link := .Get "link" }}

{{ $currentURL := .Page.Permalink }}
{{ $articleLink := "" }}
{{ if or (in $currentURL "/es/") (in $currentURL "/zh-cn/") }}
  {{ if in $currentURL "/es/" }}
    {{ $articleLink = printf "/es%s" $link }}
  {{ else if in $currentURL "/zh-cn/" }}
    {{ $articleLink = printf "/zh-cn%s" $link }}
  {{ end }}
{{ else }}
   {{ $articleLink = $link }}
{{ end }}

<li class="checklist-item">
  <div class="item-header">
    <label class="checkbox-container">
      <input type="checkbox" class="checklist-checkbox" id="{{ $id }}">
      <span class="checkmark"></span>
    </label>
    <strong class="item-title">{{ .Inner | safeHTML }}</strong>
  </div>
  {{ with $paragraph }}<p class="item-description">{{ . }}</p>{{ end }}
  {{ if $link }}
    <a href="{{ $articleLink }}" target="_blank" class="article-link">
      {{ with .Site.GetPage $link }}{{ .Title }}{{ end }}
      <svg class="hx-w-5 hx-h-5" style="display: inline; margin: 0 0 0.35rem 0.4rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    </a>
  {{ end }}
</li>