/* Checklist Cards */
.checklists-section {
  width: 100%;
}

.checklist-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checklist-card {
  min-height: 150px;
  margin: 10px;
  text-decoration-line: none;
}

.checklist-card:nth-of-type(odd):last-child {
  grid-column: span 2;
}

.checklist-card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.checklist-modal {
  display: none;
  position: fixed;
  top: 2.6%;
  left: 5%;
  z-index: 1000;
  overflow: hidden;
  width: 90%;
  height: 95%;
}

.checklist-modal:target {
  display: block;
}

.checklist-modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-roadmap-modal);
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
}

.checklist-coming-soon-label {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to top, rgb(73, 73, 73), rgba(0, 0, 0, 0));
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .checklist-grid {
    grid-template-columns: 1fr;
  }

  .checklist-card {
    grid-column: 1;
  }
}

/* Checklist Items */
.checklist-item {
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(var(--color-black), 0.1);
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  list-style: none;
}

.checklist-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px -3px rgba(var(--color-black), 0.1);
}

.checklist-items ul {
  color: var(--color-black);
  list-style-type: none;
  margin: 0;
}

.checklist-items li {
  display: flex;
  flex-direction: column;
}

.item-header {
  display: flex;
  align-items: center;
}

.item-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-black);
  flex-grow: 1;
  margin-top: -5px;
}

.item-description {
  color: var(--dark-gray);
}

.checkbox-container {
  position: relative;
  margin-right: 10px;
}

.checklist-checkbox {
  opacity: 0;
  position: absolute;
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(var(--color-black));
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
}

.checklist-checkbox:checked + .checkmark {
  background-color: black;
  border-color: rgb(var(--color-black));
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: display 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.checklist-checkbox:checked + .checkmark:after {
  display: block;
  opacity: 1;
}

.article-link {
  display: flex;
  align-items: center;
  color: var(--color-black);
  text-decoration: underline;
  margin-top: 0.5rem;
  transition: color 0.3s ease;
}

.article-link:hover {
  color: #006be6;
}