:root {
  --bg-roadmap-modal: white;
  --roadmap-step-pointer: black;
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
}

.dark {
  --bg-roadmap-modal: #181818;
  --roadmap-step-pointer: white;
  --color-black: 255, 255, 255;
  --color-white: 0, 0, 0;
}

section#common-misconceptions,
section.community-section,
section.explore-section {
  padding: 10rem 0 10rem 0;
}

section#contributors {
  padding-top: 12rem;
}

/* Font Faces */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto/RobotoFlex.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("/fonts/Roboto/RobotoFlex.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto-SemiBold";
  font-display: swap;
  src: url("/fonts/Roboto/RobotoFlex.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Menlo";
  font-display: optional;
  src: url("/fonts/Menlo/Menlo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Language + Explore Dropdown */
.language-theme-container {
  display: flex;
  align-items: center;
}

.language-options {
  position: fixed;
  inset: auto auto -160px 0;
  margin: 0;
  min-width: 100px;
  height: 140px;
}

.language-theme-sidebar-container {
  display: none;
}

.language-switcher-label {
  display: none;
  font-size: 1rem;
  color: var(--color-black);
}

.language-switcher-label svg {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
}

.language-flag-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
}

@media (max-width: 768px) {
  .language-theme-container, .explore-dropdown-button {
    display: none;
  }

  .language-theme-sidebar-container {
    display: block;
  }

  .language-theme-sidebar-container .language-options {
    inset: auto auto 0 0;
  }

  .language-switcher-label {
    display: inline-flex;
  }

  .language-switcher-flag-current {
    display: none;
  }
}

/* Hero Section */
.hero {
  width: 100%;
  margin-bottom: 10rem;
}

.hero-waves {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.hero-waves svg.waves {
  height: 225px;
  width: 100%;
}

@media (max-width: 260px) {
  .hero-waves {
    display: none;
  }
}

@media (max-width: 520px) {
  .hero-waves svg.waves {
    height: 100px !important;
  }
}

@media (max-height: 580px) {
  .hero-waves {
    display: none;
  }
}

@media (max-height: 640px) {
  .hero {
    padding-top: 0rem !important;
  }
}

@media (max-height: 750px) {
  .hero-waves svg.waves {
    height: 150px;
  }
}

@media (max-height: 800px) and (max-width: 900px) {
  .hero {
    padding-top: 0rem !important;
  }

  .hero-waves svg.waves {
    height: 150px;
  }
}

@media (max-height: 850px) {
  .hero {
    padding-top: 5rem;
  }
}

@media (min-height: 1200px) {
  .hero-waves {
    display: block;
    bottom: inherit;
    margin-top: 10rem;
  }
}

/* Start Now Button */
.start-now-button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

.start-now-button .arrow {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.start-now-button:hover .arrow {
  transform: translateX(0.25rem);
}

/* Not Sure Button */
.not-sure-button {
  scale: 0.97;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border-color: #ccc;
}

.not-sure-button:hover {
  border-color: #006be6;
  background-color: #006be6;
  color: #fff;
}

.dark .not-sure-button:hover {
  border-color: #008ae6;
  background-color: #008ae6;
}

@media (max-width: 768px) {
  .not-sure-button {
    margin-left: -1px !important;
  }
}
